.controlstrip-container {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.controlstrip.pnl-panel {
    padding-top: 0;
}
.bp3-tab-list {
    left: 20.2%
}

.bp3-tab {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    outline: none;
}